/* posiciones estratégicas */
.flor-1 {
  top: 0;
  left: 0;
}

.flor-2 {
  bottom: 0;
  right: 0;
}

.flor-3 {
  top: 40%;
  right: 0;
  transform: translateY(-50%);
}

.flor-4 {
  bottom: 20%;
  left: 0;
}
