body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: white;
  color: black;
  text-align: center;
}

h1 {
  letter-spacing: 2px;
}

.contenido {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
}

.contenido h2 {
  margin-bottom: 25px;
  font-size: 24px;
}

.contenido p {
  margin-bottom: 20px;
  line-height: 1.8;
  font-size: 16px;
}

footer {
  margin-top: 60px;
  padding: 20px;
  background: #fafafa;
  font-size: 14px;
}


.nosotros-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 100px 10%;
  flex-wrap: wrap;
}

.nosotros-img img {
  width: 250px;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.4s ease;
}

.nosotros-img img:hover {
  transform: scale(1.03);
}

.nosotros-texto {
  max-width: 500px;
}

.nosotros-texto h2 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.nosotros-texto p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #555;
}
.nosotros-img img {
  width: 250px;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.4s ease;
}
.manifiesto {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  margin-bottom: 25px;
  color: #222;
}

.historia {
  padding: 80px 10%;
}

.historia h3 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
}

.historia-item {
  margin-bottom: 20px;
}

.historia-item span {
  font-weight: bold;
  color: #f8b6c6;
  margin-right: 10px;
}
